<h3><%= @character.name %></h3>

<ul>
  <li>Actor: <%= @character.actor %></li>
  <li>Description: <%= @character.description %></li>
</ul>

<%= link_to 'Delete Character', delete_character_path(@character.television_show_id, @character.id),
    method: :delete %>
